<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}} {{screamIt name}}! How You Doin' ;-)</p>
    <!-- <p>Some text here</p> -->

    {{> footer}}
  </body>
</html>
